body {
  background-color: #ffffff;
  font-family:  tahoma, verdana;
  margin-left: 10%;
  margin-right: 10%;
}

td {
  vertical-align: top;
  background-color: #fcffd4;
  padding: 4px;
  padding-left: 1pc;
  padding-right: 1pc;
}

th {
  vertical-align: top;
  background-color: #d4ddac;
  padding: 4px;
  padding-left: 1pc;
  padding-right: 1pc;
}

h2 a {
  padding-right: 1pc;
  text-decoration: none;
}

h3 a {
  padding-right: 1pc;
  text-decoration: none;
}


pre { 
  border: 1px solid black; 
  background-color: #bcffd4;
  padding-top: 1pc;
  padding-bottom: 1pc;
  padding-left: 1pc;
  width: 70%;
}

a {
  color: #475de2;
}

ul ul {
  list-style-type: circle;
}


.func {
  font-style: italic;
  font-weight: bold;
}